<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/header.html :: header"></header>
<div class="container mt-5">
  <div th:each="elem : ${car}" class="alert alert-info mt-2">
    <h3 th:text="${elem.brand}"/>
    <h4 th:text="${elem.modell}"/>
    <a th:text="${elem.color}"/>, <a th:text="${elem.yearMake}"/>, <a th:text="${elem.fuelType}"/>, <a th:text="${elem.engine}"/>, <a th:text="${elem.maxSpeed}"/><br>
    <a th:href="'/blog/' + ${elem.id} + '/edit'" class="btn btn-warning">Редактировать</a><br><br>
    <form th:action="'/blog/' + ${elem.id} + '/remove'" method="post">
      <button class="btn btn-warning" type="submit">Удалить</button>
    </form>
  </div>
</div>
<footer th:insert="blocks/footer.html :: footer"></footer>
</body>
</html>